<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Image Upload</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
         
    </head>
    <body>
        <section class="section">
            <div class="container">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ images }}</td>
                        
                        </tr>
                   
                    </tbody>
                </table>
            </div>
        </section>
        <section class="section">
            <div class="container is-fullwidth">
                <form class="form" action="/image" method="post" enctype="multipart/form-data">
                    <div class="field">
                        <div class="control">
                            <div class="file">
                                <label class="file-label">
                                    <input class="file-input" type="file" name="file">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Upload image…
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>
